<h1>New Session</h1>

<%= flash[:errors].join("<br>").html_safe if flash[:errors] %>

<form action="<%= session_url %>" method="post">
  <input type="hidden"
      name="authenticity_token"
      value="<%= form_authenticity_token %>">

  <label>Username
    <input type="text" name="username[username]" value="">
  </label>

  <label>Password
    <input type="password" name="user[password]" value="">
  </label>

  <input type="submit" value="New Session">

</form>
